body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 

.answerContainer {
    display:flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.answerBttn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: purple;
    padding: 5px;
    border-radius: 20px;
    font-size: 2em;
}

.basic-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: purple;
    padding: 5px;
    border-radius: 20px;
    font-size: 2em; 
}

.start-quiz{
    color:white;
    background-color: purple;
    padding: 5px;
    border-radius: 20px;
    font-size: 2em;

}

.hidden{
    display:none
}